.card {
    width: 230px;
    height: 350px;
    margin-right: 26px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    padding: 3px;
    text-align: center;
    background-color: rgba(249, 248, 248, 0.7);
}

.picture {
    margin: 0.5rem;
    border-radius: 25px;
    width: 200px;
}

.card h2 {
    font-weight: 800;
    text-align: left;
    color: #284B63;
    padding: 5px 10px 5px 10px;

}

.card p {
 text-align: left; 
 margin-left: 10px;
 color: #284B63;
 font-weight: 600;
}

#dates {
  position: absolute;
  font-size: 16px;
  color: white;
  font-weight: 500;
  top: 20px;
  left: 20px;
  background-color: rgba(53, 53, 53, 0.9);
  padding: 3px;
  border-radius: 7px;

}

.heart {
    border: none;
    background-color: transparent;
    text-decoration: none;
    padding: 1rem;
    font-size: 27px;
    color: darkgray;
    position: absolute;
    left: 69%;
    bottom: 81%;
    cursor: pointer;
}

.heart .fa{
  transition: all ease 0.2s;
}

.heart:hover {
  border-color: #cc4b37;
  background-color: transparent;
}

.heart:hover .fa{
  color: #cc4b37;
  animation: anim-heart .3s forwards;
}

@keyframes anim-heart {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.10);
  }
  100% {
    transform: scale(1.15);
  }
}

.heart.red {
    color: #cc4b37;
}
