.card {
    width: 14.375rem;
    height: 21.875rem;
    margin-right: 1.625rem;
    margin-bottom: 1.25rem;
    position: relative;
    border-radius: 1.563rem;
    overflow: hidden;
    padding: 0.188rem;
    text-align: center;
    background-color: rgba(249, 248, 248, 0.7);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(110%);
}

.picture {
    margin: 0.5rem;
    border-radius: 1.563rem;
    width: 12.5rem;
}

.card h2 {
    font-weight: 800;
    text-align: left;
    color: #284B63;
    padding: 0.313rem 0.625rem 0.313rem 0.625rem;
}

.card p {
    text-align: left; 
    margin-left: 0.625rem;
    color: #284B63;
    font-weight: 600;
}

#dates {
    position: absolute;
    font-size: 1;
    color: white;
    font-weight: 500;
    top: 1.25rem;
    left: 1.25rem;
    background-color: rgba(53, 53, 53, 0.9);
    padding: 0.188rem;
    border-radius: 0.438rem;

}

.heart {
    border: none;
    background-color: transparent;
    text-decoration: none;
    padding: 1rem;
    font-size: 1.688rem;
    color: darkgray;
    position: absolute;
    left: 69%;
    bottom: 81%;
    cursor: pointer;
}

.heart .fa{
  transition: all ease 0.2s;
}

.heart:hover {
  border-color: #cc4b37;
  background-color: transparent;
}

.heart:hover .fa{
  color: #cc4b37;
  animation: anim-heart .3s forwards;
}

@keyframes anim-heart {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.10);
  }
  100% {
    transform: scale(1.15);
  }
}

.heart.red {
    color: #cc4b37;
}
