.card {
    width: 230px;
    height: 350px;
    margin: 1.5rem;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    padding: 3px;
    text-align: center;
    background-color: rgba(249, 248, 248, 0.7);
}

.picture {
    margin: 0.5rem;
    border-radius: 25px;
    width: 200px;
}

.card > h2 {
    font-weight: 800;
    text-align: left;
    color: #284B63;
}

.heart {
    border: none;
    background-color: transparent;
    text-decoration: none;
    padding: 1rem;
    font-size: 27px;
    color: darkgray;
    position: absolute;
    left: 69%;
    bottom: 81%;
    cursor: pointer;
}

.heart .fa{
  transition: all ease 0.2s;
}

.heart:hover {
  border-color: #cc4b37;
  background-color: transparent;
}

.heart:hover .fa{
  color: #cc4b37;
}

.heart.red {
    color: #cc4b37;
}
