.profile-container {
    display: flex;
    min-height: 100vh;
    background-image: url("../../assets/background.png");
    background-size: cover;
}

.pfp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pfp-container img {
    width: auto;
    height: 11.25rem;
    border-radius: 50%;
    margin-left: 6rem;
}

.pfp-container h2 {
    color: #F9F8F8;
    text-align: center;
    font-weight: 800;
    padding-top: 0.938rem;
    margin-left: 6rem;
}

.logout:hover {
    background-color: #76a6a8;
}

.saved-concerts-container{
    margin-left: 10rem;
    margin-top: 12rem;
    margin-bottom: 5rem;
    margin-right: 10rem;
}

.saved-concerts-container h3 {
    color: #82B8BB;
    font-weight: 800;
    font-size: 2.25rem;
    text-shadow: 0px 4px 15.6px rgba(0, 0, 0, 0.25);
    padding: 0.313rem;
}

.saved-concerts-names h2{
    color: #284B63;
    font-weight: 800;
    font-size: 1.563rem;
}

.saved-concerts::-webkit-scrollbar {
    display: none;
}

.saved-concerts {
    background-color: rgba(249, 248, 248, 0.22);
    color: #F9F8F8;
    border-radius: 1.438rem;
    width: 66rem;
    height: 37rem;
    padding: 1.875rem;
    overflow-y: auto;
    overflow-x: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}