.input-wrapper {
    width: 38%;
    background-color: white;
    border-radius: 30px;
    height: 4rem;
    padding: 0 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
}

input {
    background-color: white;
    color: #353535;
    border: none;
    border-radius: 30px;
    height: 100%;
    font-size: 1.5rem;
    width: 100%;
    margin-left: 15px;
}

input:focus {
    outline: none;
}

.fa-magnifying-glass {
    margin-left: 5px;
    font-size: 1.3rem;
    color: #D9D9D9;
}

::placeholder {
    color: #D9D9D9;
}