.welcome {
    position: absolute;
    left: 5%;
    width: 40%;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 3rem;
    color: #65A4A8;
    text-shadow: 0px 4px 22.2px rgba(0, 0, 0, 0.25);
    text-align: left;
    top: 30%; 
    margin-left: 5rem;
}

.welcome p {
    color: white;
    font-size: 1.75rem;
    font-weight: 500;
}

.signup-container {
    position: absolute;
    right: 10%;
    width: 40%;
    background: rgba(249, 248, 248, 0.22);
    border-radius: 4.75rem;
    top: 18%; 
    padding: 1.438rem 0;
}
  
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding: 0 3.5rem; 
    text-align: left;
}

.form form {
    width: 100%;
}

label {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.5;
    color: white; 
}

.signup-input {
    width: calc(100% - 0.5rem);
    height: 3.5rem;
    background: #FFFFFF;
    border-radius: 0.688rem;
    border: none;
    margin-bottom: 0.938rem;
    box-sizing: border-box;
    text-align: center;
}

.signup-btn{
    width: 100%;
    background: #82B8BB;
    border-radius: 0.688rem;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 2rem;
    border: none;
    cursor: pointer;
}

.signup-btn:hover {
    background-color: #99C2C5;
}


.button-login {
    width: 100%;
    height: 3.125rem;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s;
}

.button-login span {
    color: #284B63;
}

.button-login span:hover {
    color: #82B8BB;
}

.password-error-message {
    color: white;
    font-size: 1.063rem;
    padding-bottom: 0.625rem;
}

@media (min-width: 768px) and (max-width: 1594px) {
    .welcome{
        margin-left: 0rem;
        font-size: 2.65rem;
    }
    
    .signup-container{
        height: 68%;
    }

    .signup-input{
        height: 2.75rem;
    }
}