.btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
}

.btn:hover {
    color:rgba(53, 53, 53, 0.6);
}

.btn--medium {
    padding: 8px 0.5px;
    border-radius: 4px;
    font-size: 21px;
    color: #F9F8F8;
    font-weight: 600;
}

.btn--large {
    padding: 12px 0.5px;
    border-radius: 4px;
    font-size: 23px;
    color: #353535;
    font-weight: 600;
}