.welcome {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 3rem;
    color: #65A4A8;
    text-shadow: 0px 4px 22.2px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-bottom: 2rem;
}

.login-container {
    position: absolute;
    right: 4%;
    top: 20%;
    width: 38%;
    height: 400px;
    padding: 2rem;
    background: rgba(249, 248, 248, 0.22);
    border-radius: 76px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; 
    text-align: left;
}

label {
    font-weight: 600;
    font-size: 1.6rem;
    color: #FFFFFF;
    margin-bottom: 0.5rem; 
}

input,
button[type="submit"],
.signup-button {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.6rem;
}

.login-form {
    background: #FFFFFF;
    padding: 0.5rem;
}

button[type="submit"] {
    background: #82B8BB;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 2rem;
}

.signup-button {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s;
}

.signup-button:hover {
    color: #42757F;
}


