video {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.home-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contents{
    margin-left: 10rem;
    margin-bottom: 3rem;
}

.tagline {
    font-size: 6rem;
    font-weight: 800;
    color: #F9F8F8;
}

.tagline span {
    color: #82B8BB;
}

.subtext{
    margin-top: 20px;
    font-size: 27px;
    font-weight: 300;
    color: #F9F8F8;
}

.city-search {
    margin-top: 40px;
}