.video-container {
    position: fixed;
    top: 0;
    z-index: -1;
}

video {
    width: 100%;
    height: auto;
}

.home-container {
    min-height: 100vh;
    overflow-y: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fixed-contents {
    margin-left: 10rem;
    margin-bottom: 3rem;
    color: #F9F8F8;
}

.fixed-contents.with-search {
    margin-top: 11.875rem;
}

.tagline {
    font-size: 6rem;
    font-weight: 800;
    color: #F9F8F8;}

.tagline span {
    color: #82B8BB;
}

.subtext{
    margin-top: 1.25rem;
    font-size: 1.688rem;
    font-weight: 300;

}

.search-container {
    margin-top: 2.5rem;
    margin-bottom: 1.25rem; 
    display: flex;
    flex-direction: column;
    align-items: left; 
  }

.concerts-near {
    font-size: 6.125rem;
    font-weight: 800;
    color: #82B8BB;
    margin-left: 5rem;
}

.concerts-near span {
    color: #D9D9D9;
    text-decoration: underline;
    text-transform: uppercase;
}

.content-wrapper {
    display: flex;
    margin-top: 31.25rem;
}

.concerts-container {
    flex: 1;
    max-height: 0rem;
    margin-left: 12.5rem;
    
}

.filter-container {
    margin-top: 16.875rem;
    margin-right: 13.438rem;
    margin-left: 0.625rem;
    background-color: #D9D9D9;
    background: linear-gradient(180deg, rgba(217,217,217,1) 31%, rgba(0,212,255,0) 100%);
    padding: 1.25rem 2.5rem 43.75rem 2.5rem;
    border-radius: 3.125rem;
    color: #284B63;
}

.filter-container h1 {
    font-weight: 800;
    font-size: 2.25rem;
}

.radio-btns{
    display: flex;
    flex-direction: column;
}

.radio-btns input[type="radio"] {
    width: 1.25rem;
    margin-right: 0.625rem;
}

.radio-btns label {
    font-size: 1.25rem;
    font-weight: 700;
    color: #284B63;
}

.search-error-message {
    padding-top:1.25rem;
    font-size: 1.063rem;
    font-weight: 300;
    color:white;
}