.video-container {
    position: fixed;
    top: 0;
    z-index: -1;
}

video {
    width: 100%;
    height: auto;
}


.home-container {
    min-height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fixed-contents {
    margin-left: 10rem;
    margin-bottom: 3rem;
    color: #F9F8F8;
}

.tagline {
    font-size: 96px;
    font-weight: 800;
    color: #F9F8F8;}

.tagline span {
    color: #82B8BB;
}

.subtext{
    margin-top: 20px;
    font-size: 27px;
    font-weight: 300;

}

.search-container {
    margin-top: 40px;
    margin-bottom: 20px; 
  }

.concerts-near {
    font-size: 98px;
    font-weight: 800;
    color: #82B8BB;
    margin-left: 50px;
}

.concerts-near span {
    color: #D9D9D9;
    text-decoration: underline;
}

.content-wrapper {
    display: flex;
}

.concerts-container {
    flex: 1;
    max-height: 0px;
    margin-left: 252px;
}

.filter-container {
    margin-top: 270px;
    margin-right: 250px;
    margin-left: 50px;
    background-color: #D9D9D9;
    background: linear-gradient(180deg, rgba(217,217,217,1) 31%, rgba(0,212,255,0) 100%);
    padding: 20px 50px 700px 50px;
    border-radius: 50px;
    color: #284B63;
}

.filter-container h1 {
    font-weight: 800;
    font-size: 36px;
}


.radio-btns input[type="radio"] {
    width: 20px;
    margin-right: 10px;
}

.radio-btns label {
    font-size: 20px;
    font-weight: 700;
    color: #284B63;
}
