.about-page{
    display: flex;
    justify-content: flex-end;
    min-height: 100vh;
    background-image: url("../../assets/background.png");
    background-size: cover;
}

.about-us h1 { 
    color: #65A4A8;
    font-size: 6rem;
    font-weight: 800;
    text-align: center; 
    text-shadow: 0px 2px 22.2px rgba(0, 0, 0, 0.25);
}

.about-us{
    margin-top: 18.75rem;
    text-align: center;
    margin-right: 21.875rem;
    width: 25%;
    height: 45%;
    color: #65A4A8;
}


.description{
    margin-top: 1.563rem;
    color: #ffffff;
}

.description-names{
    margin-top: 1.563rem;
    color: #ffffff;
}

.image{
    position: absolute;
    width: 37.5rem;
    height: 37.5rem;
    left: 15.625rem;
    top: 10.625rem;
    background: #ffffff;
    box-shadow: 22px 22px 6.1px #82B8BB;
}
