.about-page{
    display: flex;
    justify-content: flex-end;
    height: 1139px;
    background-image: url("../../assets/background.png");
    background-size: cover;
}

.tagline { text-align: left; }
.about-us{
    margin-top: 200px;
    text-align: left;
    margin-right: 350px;
    width: 25%;
    height: 45%;
    color: #65A4A8;
}

.description{
    color: #65A4A8
}

.image{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 300px;
    top: 170px;
    background: #65A4A8;
}
