.setting-page{
    display: flex;
    justify-content: flex-start;
    height: 71.188rem;
    background-image: url("../../assets/background.png");
    background-size: cover;
    padding:1.25rem;
    align-items: center;
    height:100vh;
}

.pfp-container {
    margin-left: 4.375rem; 
    margin-bottom: 6.25rem;
}

#pfp {
    width: 11.25rem;
    height:auto;
}

#username {
    margin-left: 6.563rem;
}

#logout-btn {
    margin-left: 6.75rem;
}

.setting-container h1 {
    margin-left:3.75rem;
    margin-top: 1.563rem;
    color: white;
    font-weight: 800;
}

.setting-container p {
    color: lightgrey;
}

.setting-container {
    width: 60%;
    height: 60%;
    background: rgba(249, 248, 248, 0.22);
    border-radius: 1.438rem;
    top: 20%; 
    margin-left: 9.375rem;
    padding:1.25rem;
}
  
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding: 0 3.5rem; 
}

.form form {
    width: 100%;
}

.form label {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5;
    color: white; 
}

.setting-text {
    width: 80%;
    height: 3.125rem;
    background: #FFFFFF;
    border-radius: 0.688rem;
    border: none;
    margin-bottom: 1.25rem;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 1.25rem;
    text-align: left;
    padding-left: 1.25rem;
    
}

.form-row {
    display: flex;
    padding-top: 1.25rem;
}

.form-group {
    padding:0.313rem;
    width:50%;
}

#delete_button {
    width: 13.75rem;
    height: 2.5rem;
    border-radius: 0.688rem;
    color: #FF8787;
    font-weight: 600;
    font-size: 1.5rem;
    border: 0.125rem solid #FF8787;
    background-color: transparent;
    cursor: pointer;
    margin-top: 1.25rem;
}

.form p {
    margin-top: 0.625rem;
}

.newsletter {
    display: flex;
    align-items: center;
}

.newsletter input {
    width: 1.563rem;
    margin-right: 0.5rem;
}

.btn-container{
    display: flex;
    flex-direction: column;
}

.logout {
    text-decoration: none;
    color: #F9F8F8;
    background-color: #82B8BB;
    font-weight: 700;
    font-size: 0.938rem;
    border: none;
    cursor: pointer;
    margin-top: 2rem;
    margin-left: 10.5rem;
    padding: 0.313rem;
    border-radius: 0.563rem;
    width: 10rem;
}

@media (min-width: 769px) and (max-width: 1440px){
    #pfp{
        width: 10rem;
    }

    #username {
        margin-left: 4rem;
    }
    
    #logout-btn {
        margin-left: 4rem;
    }

    .form {
        margin-top: 0.1rem;
    }
}